.profile {
    width: 37%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
}

.name {
    font-size: 20px;
    font-weight: 500;
}

.avatar {
    height: 150px;
    border-radius: 50%;
}

.tag,
.location {
    color: rgb(114, 112, 112);
}

.stats {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
    background-color: #f7f7f7;
}

.quantity {
    display: block;
    text-align: center;
    font-weight: 700;
}

.stats li:not(:last-child) {
    border-right: 1px solid rgb(0, 0, 0, 0.24);
    padding: 35px;
}

.stats li:last-child {
    padding: 35px;
}

.label {
    color: grey;
}