.statistics {
    width: 37%;
    margin-bottom: 40px;
}

.title {
    text-align: center;
    color: grey;
}

.stat-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    margin: 0;
    background-color: #f7f7f7;
}

.item {
    display: flex;
    width: 70px;
    text-align: center;
    flex-direction: column;
}

.label {
    font-size: 14px;
    margin-bottom: 2px;
}

.percentage {
    font-size: 20px;
}