.transaction-history {
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0, 0.24);
}

.transaction-history thead {
    background-color: aqua;
}

.transaction-history th {
    width: 200px;
    padding: 20px;
    color: #fff;
}

.transaction-history td {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.24);
}

.transaction-history tr:nth-child(even) {
    background-color: rgb(0, 0, 0, 0.24);
}